.jumbotron {
  background-image: url("../../assets/images/banner.svg");
  background-size: cover;
  margin: 2em 2em 2em 2em;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
}

.jumbotron img {
  width: 20%;
  height: auto;
  position: absolute;
}

.jumbotron h1 {
  position: absolute;
}

fa-icon:not(:last-child){
  margin-right: 1em;
}

.low-menu {
  position: absolute;
  margin: 20px;
  width: auto;
}

#socialMediaBar {
  display: block !important;
}
