@font-face {
  font-family: 'Playlist';
  src: url('../font/Playlist/Caps/Playlist-Caps.woff2') format('woff2'),
  url('../font/Playlist/Caps/Playlist-Caps.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playlist';
  src: url('../font/Playlist/Script/Playlist-Script.woff2') format('woff2'),
  url('../font/Playlist/Script/Playlist-Script.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playlist';
  src: url('../font/Playlist/Ornament/Playlist-Ornament.woff2') format('woff2'),
  url('../font/Playlist/Ornament/Playlist-Ornament.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

